[submodule "@livekit/components-core"]
	path = @livekit/components-core
	url = https://gitlab.ordulu.com/ulak-conference/desktop/components-core.git
[submodule "@livekit/components-react"]
	path = @livekit/components-react
	url = https://gitlab.ordulu.com/ulak-conference/desktop/components-react.git
[submodule "@livekit/mutex"]
	path = @livekit/mutex
	url = https://gitlab.ordulu.com/ulak-conference/desktop/mutex.git
[submodule "@livekit/protocol"]
	path = @livekit/protocol
	url = https://gitlab.ordulu.com/ulak-conference/desktop/protocol.git
[submodule "@livekit/track-processors"]
	path = @livekit/track-processors
	url = https://gitlab.ordulu.com/ulak-conference/desktop/track-processors.git
[submodule "livekit-client"]
	path = livekit-client
	url = https://gitlab.ordulu.com/ulak-conference/desktop/livekit-client.git
